extends ./layout.pug

block body
  include ./partials/header.pug

  div.article.container
    include ./partials/back.pug
    
    h1
      != pageContent.getStructuredText('article.title').asText() || 'Untitled'
    img.article-image(src=pageContent.getImage('article.image').url, class='star')

    - var sliceZone = pageContent.getSliceZone('article.body') || {}
    for slice in sliceZone.slices
      //- Render the right markup for a given slice type.
      case slice.sliceType
        when 'text'
          include ./partials/text.pug
        when 'quote'
          include ./partials/quote.pug
        when 'image-with-caption'
          include ./partials/imageWithCaption.pug
          
    include ./partials/back.pug