extends ./layout.pug

block body
  include ./partials/header.pug

  div.articles.container
    
    - var isFeatured = true
    for article in articles
      
      //- Display the most recent article as the featured article
      if isFeatured
        include ./partials/featuredArticle.pug
        - isFeatured = false
      
      //- Display the rest of the articles
      else
        include ./partials/articleTile.pug