/* General */
.container, header, footer {
  max-width: 980px;
  margin: auto;
}
.button {
  display: inline-block;
  padding: 20px;
  background: #000000;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.button:hover {
  color: #dcdcdc;
}

/* Header */
header {
  position: relative;
  margin-top: 20px;
  height: 80px;
}
header .logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif; 
  font-size: 26px; 
  line-height: 40px;
  font-weight: 700; 
  color: #000000; 
}
header .article-link {
  position: absolute;
  display: inline-block;
  top: 6;
  right: 0;
  font-family: 'Montserrat', sans-serif;
}


/* Featured Article */
.articles {
  margin-bottom: 40px;
  border-bottom: 1px solid #DADADA;
}
.featured-article-container {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #DADADA;
}
.featured-article {
  position: relative;
  height: 412px;
  padding: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center center;
}
.featured-content {
  position: absolute;
  max-width: 490px;
  width: 82%;
  bottom: 70px;
}
.featured-article h2, 
.featured-article .description {
  color: #ffffff;
  margin-bottom: 20px;
}
.button.featured-button {
  background: #ffffff;
  color: #000000;
}
.button.featured-button:hover {
  color: #323232;
}

/* Article Tiles */
.article-tile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.article-tile-image {
  display: inline-block;
  width: 412px;
  height: 412px;
  background-position: center center;
}
.article-tile-mobile-image {
  display: none;
}
.article-tile-content {
  width: 488px;
  float: right;
}
.article-tile .meta-info {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}
.article-tile .date {
  font-weight: 400;
  color: #A8A8A8;
}
.article-tile .description {
  margin-bottom: 30px;
}



/* Article Page */
.article {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DADADA;
}
.back {
  color: #9A9A9A;
  display: block;
  margin: 0 auto 30px auto;
  font-size: 16px;
}
.back:before {
  content: '←';
  display: inline-block;
  position: relative;
  margin-right: 8px;
}
.back a {
  color: #9A9A9A;
}
.back a:hover {
  text-decoration: underline;
}
.article-image {
  margin-bottom: 20px;
}
.article-section.image {
  text-align: center;
  margin-bottom: 20px;
}
.article-section .image-label {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #949494;
}
.article-section .block-quotation {
  display: inline-block;
  margin: 10px 0 30px;
  font-style: italic;
  font-size: 24px;
}
.article-section.quote {
  text-align: center;
}
.article-section .block-quotation:before { content: "« " }
.article-section .block-quotation:after { content: " »" }
.article-section .block-citation {
  display: inline-block;
  font-style: italic;
  border-left: solid #B4B4B4 4px;
  padding-left: 10px;
}




/* Media Queries */
@media (max-width: 1020px) {
  .article-tile-image {
    width: 42.04%;
  }
  .article-tile-content {
    width: 49.8%;
  }
}

@media (max-width: 920px) {
  .block-img.emphasized {
    width: 100%;
    margin: 0 0 2rem;
  }
}

@media (max-width: 800px) {
  .article-tile {
    display: block;
  }
  .article-tile-image {
    display: none;
  }
  .article-tile-mobile-image {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .article-tile-content {
    display: block;
    float: none;
    width: 100%;
  }
  .article-tile .description {
    margin-bottom: 20px;
  }
  .article-section .block-quotation {
    font-size: 20px;
  }
}

@media (max-width: 520px) {
  header {
    margin-top: 0;
    height: auto;
  }
  header .logo {
    position: static;
  }
  header .article-link {
    position: static;
    display: block;
    margin-bottom: 20px;
    border: none;
  }
  .featured-article {
    padding: 20px;
  }
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
  h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .featured-article .description {
    
  }
}

@media (max-width: 340px) {
  .featured-content {
    bottom: 40px;
  }
}

