/* General */
.container, header, footer {
  max-width: 980px;
  margin: auto;
}


/* Header */
.home-header {
  text-align: center;
  border-bottom: 1px solid #DADADA;
  margin-bottom: 20px;
}

/* Article Tiles */
.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.article-tile .tile {
  position: relative;
  width: 313px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  
}
.article-tile:nth-child(3n) .tile {
  margin-right: 0px;
}
.tile .headline {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
.tile .headline h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}
.tile .text, .tile .text p {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.tile .text {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #ffffff;
}
.tile .text p {
  line-height: 20px;
  color: rgba( 255, 255, 255, 0 );
}



/* Article Page */
.article {
  max-width: 700px;
  margin: auto;
}
.outer-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.back {
  color: #9A9A9A;
  display: block;
  max-width: 700px;
  margin: 0 auto 2em auto;
  font-size: 16px;
}
.back:before {
  content: '←';
  display: inline-block;
  position: relative;
  margin-right: 8px;
}
.back a {
  color: #9A9A9A;
}
.back a:hover {
  text-decoration: underline;
}
.article-image {
  margin-bottom: 2rem;
}
.article img {
  width: 100%;
  height: auto;
}
.block-img.emphasized {
  width: 130%;
  margin: 0 -15% 2rem -15%;
}
.article-section .image-label {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #949494;
}
.article-section .block-quotation {
  margin-bottom: 2rem;
  display: inline-block;
  font-style: italic;
  font-size: 24px;
}
.article-section.quote {
  text-align: center;
}
.article-section .block-quotation:before { content: "« " }
.article-section .block-quotation:after { content: " »" }
.article-section .block-citation {
  display: inline-block;
  font-style: italic;
  border-left: solid #B4B4B4 4px;
  padding-left: 10px;
}
.post-part li {
  list-style-type: initial;
  margin-left: 1em;
}



/* Footer */
footer {
  color: #9A9A9A;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
footer p {
  border-top: 1px solid #DADADA;
  padding: 2rem 0;
  margin-bottom: 0;
}
footer a {
  font-weight: bold;
  text-decoration: none;
}
.footer-logo {
  width: 30px;
  margin-top: 10px;
}

/* Media Queries */
@media (max-width: 1020px) {
  .container, header, footer {
    max-width: 647px;
  }
  
  .article-tile:nth-child(3n) .tile {
    margin-right: 20px;
  }
  
  .article-tile:nth-child(2n) .tile {
    margin-right: 0px;
  }
  
}

@media (max-width: 920px) {
  .block-img.emphasized {
    width: 100%;
    margin: 0 0 2rem;
  }
}

@media (max-width: 687px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 18px;
  }
  .container, header, footer {
    max-width: 314px;
  }
  .article-tile .tile, .article-tile:nth-child(3n) .tile {
    margin-right: 0px;
  }
}













/* Media Queries */
@media (max-width: 767px) {
  .home, .blog-main, .container, footer {
    padding: 0 20px;
  }
  .article-section, .blog-main {
    font-size: 18px;
  }
  h1 {
    font-size: 36px;
    line-height: 45px;
  }
  h2 {
    font-size: 28px
  }
  h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  /* Blog post images */
  .article-section .block-quotation ,  .blog-main.single .block-quotation {
    width: 130%;
    margin: 0 -15% 2rem -15%;
    font-size: 30px;
    padding: 0;
  }
  
  .article-section .block-citation, .blog-main.single .block-citation {
    margin: 20px 0;
  }

}


